.timeline-dot {
  position: absolute;

  top: var(--dot-y-offset, 20px);
  left: var(--dot-x-offset, 179px);
  transform: translate(-50%, -50%);
}

.timeline-dot_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-dot_one {
  width: 18px;
  height: 18px;
  border: 0.5px solid var(--commerce-white);
  border-radius: 100%;
}

.timeline-dot_two {
  width: 12px;
  height: 12px;
  border: 0.75px solid var(--commerce-white);
  border-radius: 100%;
}

.timeline-dot_three {
  width: 6px;
  height: 6px;
  border: 1px solid var(--commerce-white);
  border-radius: 100%;
}

.timeline-dot_four {
  width: 4px;
  height: 4px;
  background: var(--commerce-white);
  border-radius: 100%;
}

.timeline-dot_five {
  width: 4px;
  height: 4px;
  border-radius: 100%;
}

@media screen and (max-width: 820px) {
  .timeline-dot {
    position: absolute;
    top: var(--mobile-lcol-height, 60px);
    left: var(--dot-y-offset, 179px);
  }
}
